@use "./colors" as *;

$icon-size: 2rem;

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
    --icon-size: #{$icon-size};
    --indicator-spacing: calc(var(--icon-size) / 8);
    --border-radius: calc(var(--icon-size) / 4);
    --nav-item-padding: calc(var(--icon-size) / 2);
    --background-color: #{$background-color};
    --font-color: #{$font-color};
    --nav-bar-circle-color: #{$nav-bar-circle-color};
  }