@use "./colors" as *;

$icon-size: 2rem;

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
    --icon-size: #{$icon-size};
    --indicator-spacing: calc(var(--icon-size) / 8);
    --border-radius: calc(var(--icon-size) / 4);
    --nav-item-padding: calc(var(--icon-size) / 2);
    --background-color: #{$background-color};
    --font-color: #{$font-color};
    --font-color-hovered: #{$font-color-hovered};
    --nav-bar-circle-color: #{$nav-bar-circle-color};
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 100%;
    background-color: var(--background-color);
    color: var(--font-color);
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
}

a {
    color: var(--font-color);
}

a:visited {
    color: var(--font-color);
}

a:hover {
    color: var(--font-color-hovered);
}